[submodule "NOAH-Corpus"]
	path = datasets/NOAH-corpus
	url = git@github.com:noe-eva/NOAH-Corpus.git
[submodule "datasets/UD_German-HDT"]
	path = datasets/UD_German-HDT
	url = https://github.com/UniversalDependencies/UD_German-HDT
[submodule "datasets/UD_Swiss_German-UZH"]
	path = datasets/UD_Swiss_German-UZH
	url = git@github.com:UniversalDependencies/UD_Swiss_German-UZH.git
[submodule "datasets/UD_Low_Saxon-LSDC"]
	path = datasets/UD_Low_Saxon-LSDC
	url = git@github.com:UniversalDependencies/UD_Low_Saxon-LSDC.git
[submodule "datasets/UD_Dutch-Alpino"]
	path = datasets/UD_Dutch-Alpino
	url = git@github.com:UniversalDependencies/UD_Dutch-Alpino.git
[submodule "datasets/UD_Frisian-Frysk"]
	path = datasets/UD_Frisian-Frysk
	url = git@github.com:UniversalDependencies/UD_Frisian-Frysk.git
	branch = dev
[submodule "datasets/UD_Norwegian-NynorskLIA_dialect"]
	path = datasets/UD_Norwegian-NynorskLIA_dialect
	url = git@github.com:verenablaschke/UD_Norwegian-NynorskLIA_dialect.git
[submodule "datasets/UD_Norwegian-Nynorsk"]
	path = datasets/UD_Norwegian-Nynorsk
	url = https://github.com/UniversalDependencies/UD_Norwegian-Nynorsk
